# Base de datos
#DATABASE_URL="postgresql://username:password@localhost:5432/database_name"
DATABASE_URL="mysql://root:root@localhost:3306/isamed"
# Servidor
PORT=3000
APP_URL="http://localhost:3000"
NODE_ENV=development

# JWT - GENERAR CLAVES SEGURAS EN PRODUCCIÓN
JWT_SECRET="generate_secure_key_for_production"
JWT_REFRESH_SECRET="generate_secure_refresh_key_for_production"
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=1d

# Puppeteer
PUPPETEER_EXECUTABLE_PATH="/usr/bin/chromium-browser"

# Configuración de ambiente
DEV_MODE=true
USE_API_PREFIX=true
FRONTEND_URL=http://localhost:3001